* {
	font-family: "Nunito Sans", sans-serif;
	box-sizing: border-box;
}

#header {
	padding: 0.3rem;
	text-align: center;
}

#header h1 {
	margin: 0;
	font-size: 2rem;
}

#content {
	padding: 0.5rem 1.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.item {
	width: 20%;
}

.item-header {
	border: none;
	border-radius: 15px 15px 0 0;
	padding: 0.8rem;
	background-color: #ffeb94;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	font-size: 1.2rem;
	font-weight: 800;
}

.item-body {
	border: none;
	border-radius: 0 0 15px 15px;
	padding: 0.8rem;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-container {
	display: flex;
	align-items: center;
}

.icon-wrapper {
	display: flex;
	justify-content: center;
	width: 1.3rem;
	margin-right: 0.4rem;
	flex-shrink: 0;
}

.icon-wrapper i {
	color: #e8bc1f;
}

.info {
	flex-grow: 1;
}

button {
	margin-top: 0.8rem;
	padding: 0.3rem 1.5rem;
	border: none;
	border-radius: 8px;
	background-color: #ffeb94;
	color: #333;
	font-size: 1rem;
	cursor: pointer;
	transition: 225ms ease;
}

button:hover {
	background-color: #fbe15e;
}

/* Modal */
.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: none;
	width: 80%;
	border-radius: 10px;
	position: relative;
}

.close-button {
	color: #000000;
	font-size: 1.4rem;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
	transition: 225ms ease;
}

.close-button:hover {
	color: #aa5050;
}

/* Table */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1rem;
}

th,
td {
	padding: 8px;
	text-align: left;
}

th {
	background-color: #ffeb94;
}
